/* CSS Document */
body{
	background-color:#E9FFFF;	
}

.container{
	margin-top:50px;
}

#idcard{
	background-color:#FCFCFC;
	border:#1B1B1B solid 2px;
	padding:10px;
	border-radius:15px;
	-moz-border-radius:15px;
	-khtml-border-radius:15px;
	height: 300px;
}

#impressum{
	background-color:#FCFCFC;
	border:#1B1B1B solid 2px;
	padding:10px;
	border-radius:15px;
	-moz-border-radius:15px;
	-khtml-border-radius:15px;
	height: 300px;
	overflow:auto;
}

#ava{
	margin:10px;
	height:150px;
	background-image:url(ava.png);
	border:#1B1B1B solid 2px;
	border-radius:30px;
	-moz-border-radius:30px;
	-khtml-border-radius:30px;
}

div.thumbnail, div.thumbnail_galerie{
	margin-top:10px;
	margin-bottom:25px;
	margin-left:25px;
	height:100px;
	text-align: center;
	font-weight: 600;	
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;	
}
div.thumbnail{
	display:none;
}
div.thumbnail_galerie{
	display:block;
}
img.thumbnailpic{
	border-radius:20px;
	-moz-border-radius:20px;
	-khtml-border-radius:20px;
}
#back{
	display:none;
}

#footer, #header{
	margin-left:30px;
	margin-right:30px;
}

#header{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-bottom:1em;
}

#header h1{
	display:inline;
	padding-right:30px;
	border-right:#6F6F6F 2px solid;
	color:#1B1B1B;
}
#header h2{
	padding-left:30px;
	display:inline;
	vertical-align:top;
	color:#6F6F6F;
}

#menu{
	border-radius:15px;
	-moz-border-radius:15px;
	-khtml-border-radius:15px;
	height: 15px;
	background-color:#FCFCFC;
	border:#1B1B1B solid 2px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	padding: 10px;
}

#menu li{
	display: inline;
	margin-left: 100px;
	margin-right: 100px;
}

#menu li h3{
	display: inline;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 15px;
	font-weight: 600;
}

#menu a.active{
	color: #000000;
}

#menu a.inactive{
	color: #808080;
}

#idcard h2{
	margin-bottom:0.1em;
	text-align:center;
	font-weight:700;
	margin-left:10px;	
}

#idcard a, #menu a{
	text-decoration:none;
}

a{
	color:#808080;
}
a:hover{
	color: #06C;
}
#menu a:hover{
	color: #06C;
}

#details {
	margin-top:25px;
	font-weight:600;
}
